<mat-toolbar>
  <mat-toolbar-row class="no-padding flex-space-between">
    <div class="padding-sm-lr text-white bg-color-accent full-height center-align-vertically set-min-width-lg center-text-align justify-content-center" style="flex-shrink: 1">
      <mat-icon class="margin-md-r scale-big">{{iconName}}</mat-icon>
      <span class="font-lg-rvw">{{headerTitle}}</span>
    </div>
    <div class="set-min-width-lg center-text-align" style="flex-shrink:1">
      Project 1
    </div>
    <div class="center-text-align set-min-width-lg" style="flex-shrink: 1">
      <mat-icon class="scale-big margin-lg-r">person_pin</mat-icon>
      <mat-icon class="scale-big">info</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
