<div class="container-fluid border-primary flex-column custom-border-grey">
  <div class="bg-secondary text-white container-fluid flex-space-between align-items-center p-2">
    <div>
      <input class="m-2" type="text" placeholder="Type to search...">
      <button class="btn btn-primary p-1">
        <mat-icon class="align-middle">search</mat-icon>
      </button>
    </div>
    <span class="align-middle">Resource Catalog</span>
    <div class="dropdown">
      <button class="btn btn-secondary btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <mat-icon class="align-middle">add</mat-icon>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <input type="file" accept="text/csv" #file class="d-none" (change)="fileChangeListener($event)">
        <a class="dropdown-item cursor-pointer" (click)="file.click()">Import CSV</a>
      </div>
    </div>
  </div>
  <table class="table margin-sm-top table-bordered">
    <thead class="bg-grey">
    <tr>
      <th *ngFor="let h of headers" scope="col">{{h}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of csvRecords">
      <td *ngFor="let h of headers">{{r[h]}}</td>
    </tr>
    </tbody>
  </table>
</div>

