<mat-toolbar class="position-fixed" id="header">
  <mat-toolbar-row class="no-padding flex-space-between position-fixed">
    <div
      class="padding-sm-lr text-white bg-color-accent full-height center-align-vertically set-min-width-lg center-text-align justify-content-center">
      <mat-icon class="margin-md-r scale-big">{{iconName}}</mat-icon>
      <span class="font-lg-rvw">{{headerTitle}}</span>
    </div>
    <div *ngIf="user">
      <div class="right-text-align">
        <mat-icon class="scale-big margin-lg-r cursor-pointer" data-toggle="dropdown" routerLink="/auth">person_pin
        </mat-icon>
        <div class="dropdown-menu no-padding">
          <h1 class="no-padding text-center text-white">{{user.username}}</h1>
          <p class="font-weight-normal no-padding no-margin text-center text-white">Member since</p>
          <p class="font-weight-normal padding-sm-lr text-center text-white">{{user.creationTime}}</p>
          <button class="dropdown-item btn btn-primary btn-block no-margin p-2 text-white text-center mb-0" type="button">Logout</button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


