.spacer {
  flex: 1;
}

.set-min-width-lg {
  min-width: 20rem;
}

#header {
  border-bottom: 1px solid #3b3b3b;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  padding: 0;
  margin: 0;
}
