<mat-toolbar class="position-fixed" id="header">
  <mat-toolbar-row class="no-padding flex-space-between position-fixed">
    <div
      class="padding-sm-lr text-white bg-color-accent full-height center-align-vertically set-min-width-lg center-text-align justify-content-center">
      <mat-icon class="margin-md-r scale-big">{{iconName}}</mat-icon>
      <span class="font-lg-rvw">{{headerTitle}}</span>
    </div>
    <div class="set-min-width-lg center-text-align">
      Project 1
    </div>
    <div class="right-text-align set-min-width-lg dropdown">
      <mat-icon class="scale-big margin-lg-r cursor-pointer" data-toggle="dropdown" routerLink="/auth">person_pin</mat-icon>
      <div class="dropdown-menu">
        <h1 class="center-text-align text-white">Normal User</h1>
        <button class="dropdown-item text-white" type="button">Logout</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


