#sidenav {
  min-width: 10rem;
}

.nav-sidenav-toggle-btn {
  background-color: black;
  border: none;
  color: white;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  cursor: pointer;
}

