<div class="screen-center">
  <div class="card" style="width: 25rem">
    <h2 class="card-header center-text-align">Sign Up</h2>
    <div class="card-body">
      <form #userForm="ngForm">
        <div class="form-outline mb-4">
          <label for="username" class="font-weight-bold">Username</label>
          <input type="text" class="form-control" id="username"
                 required
                 [(ngModel)]="model.username" name="username"
                 #username="ngModel">
          <div [hidden]="username.valid || username.pristine"
               class="text-danger margin-xsm-top">
            Username is required
          </div>
          <label for="password" class="margin-sm-top font-weight-bold">Password</label>
          <input type="password" class="form-control" id="password"
                 required
                 [(ngModel)]="model.password" name="password"
                 #password="ngModel">
          <div [hidden]="password.valid || password.pristine"
               class="text-danger margin-xsm-top">
            Password is required
          </div>
        </div>
        <button class="btn btn-block btn-primary" type="submit" [disabled]="!userForm.form.valid" (click)="onSignUp()">Sign Up</button>
        <br>
        <button class="btn btn-block btn-primary" type="submit" [disabled]="!userForm.form.valid" (click)="onLogin()">Login</button>
        <div [hidden]="!error" class="alert alert-danger margin-sm-top">
          {{error}}
        </div>
        <div [hidden]="!success" class="alert alert-success margin-sm-top">
          {{success}}
        </div>
      </form>
    </div>
  </div>
</div>

