/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-white {
  color: white;
}

.bg-color-accent {
  background-color: chocolate;
}

.bg-color-black {
  background-color: black;
}

.full-height {
  height: 100%;
}

.center-align-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-sm-lr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-md-r {
  margin-right: 1rem;
}

.margin-lg-r {
  margin-right: 2.5rem;
}

.scale-big {
  transform: scale(1.5);
}

.scale-bigger {
  transform: scale(2.5);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.sm-padding-btm {
  padding-bottom: 2rem;
}

.sm-padding-top {
  padding-top: 2rem;
}

.no-border {
  border: none;
}

.lg-font {
  font-size: 0.9rem;
}

.margin-sm {
  margin: 0.5rem;
}

.margin-sm-top {
  margin-top: 1.5rem;
}

.tiny-margin-left {
  margin-left:1rem;
}

.on-hover-accent-color:hover {
  color: chocolate !important;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-text-align {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.right-text-align {
  text-align: right;
  margin: 2rem;
}

.screen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.margin-md-top {
  margin-top: 4rem;
}

.margin-xsm-top {
  margin-top: 0.5rem;
}

.btn-primary {
  background-color: chocolate !important;
  border-color: chocolate !important;
}



