/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-white {
  color: white;
}

.bg-color-accent {
  background-color: chocolate;
}

.full-height {
  height: 100%;
}

.center-align-vertically {
  display: flex;
  align-items: center;
}

.padding-sm-lr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-padding {
  padding: 0 !important;
}

.margin-md-r {
  padding-right: 1rem;
}

.scale-big {
  transform: scale(1.5);
}
